<div class="col mb-3 ms-3 me-3">
  <div class="col-md-12 mb-3">
    <img src="assets/3d_delivery_box_parcel.jpg" class="custom-image">
  </div>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><fa-icon [icon]="faInfo" class="me-2 blue-color "></fa-icon>&nbsp;Information sur l'article</h2>
    </div>
    <div class="col-md-12">
      <div class="row mb-3">
        <div class="col">
          <input class="form-control" type="text" placeholder="Code article" required>
        </div>
        <div class="col">
          <input class="form-control" type="text" placeholder="Designation" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input class="form-control" type="text" placeholder="Prix unitaire HT" required>
        </div>
        <div class="col">
          <input class="form-control" type="text" placeholder="Taux TVA" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input class="form-control" type="text" placeholder="Prix unitaire TTC" required>
        </div>
        <div class="col">
          <select class="form-select" aria-label="Default select example">
            <option selected>Sélectionner une catégorie</option>
            <option value="1">5%</option>
            <option value="2">10%</option>
            <option value="3">20%</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-end">
    <button class="btn btn-primary me-3">
      <fa-icon [icon]="faSquarePlus"></fa-icon>&nbsp;
      Enregistrer
    </button>
    <button class="btn btn-danger me-3">
    <fa-icon [icon]="faXmark"></fa-icon>&nbsp;
      Annuler
    </button>
  </div>
</div>
