<div class="row mb-1 custom-border">

  <!-- Details articles  -->
  <div class="col-md-3 border-right my-1 d-flex align-items-center justify-content-center">
      <fa-icon [icon]="faCalendarDays" class="me-2 blue-color"></fa-icon>
      <span>Date</span>
  </div>

  <!-- Details categorie  -->
  <div class="col-md-3 border-right my-1 d-flex align-items-center justify-content-center">
    <div class="row">
      <span class="col-md-12 fs-5 text-center">
        <fa-icon [icon]="faBoxesStacked" class="blue-color fs-4"></fa-icon>&nbsp;
        Quantitée
      </span>
    </div>
  </div>
  <div class="col-md-3 border-right my-1 d-flex align-items-center justify-content-center">
    <div class="row">
      <span class="col-md-12 fs-5 text-center">
        <fa-icon [icon]="faCartShopping" class="me-2 blue-color"></fa-icon>
        Sortie/Entrée
      </span>
    </div>
  </div>

  <!-- Details action  -->
  <div class="col-md-3 d-flex align-items-center justify-content-center border-right">
    <div class="row">
      <div class="col-md-10">
        <button type="button" class="btn btn-success">
          <fa-icon [icon]="faUser"></fa-icon>
          Commande client
        </button>
      </div>
    </div>
  </div>
</div>
