 <!-- Details client  -->
<div class="row mb-1 custom-border">
  <div class="col-md-1 border-right d-flex align-items-center justify-content-center my-1">
    <img src="assets/3d_delivery_box_parcel.jpg" alt="image d'un carton" class="custom-image rounded-circle">
  </div>

  <div class="col-md-5 border-right my-1">
    <div class="d-flex align-items-center mb-2">
      <fa-icon [icon]="faInfo" class="me-2 blue-color"></fa-icon>
      <span>{{ clientFournisseur.nom }}</span>
    </div>
    <div class="d-flex align-items-center mb-2">
      <fa-icon [icon]="faInfo" class="me-2 blue-color"></fa-icon>
      <span>{{ clientFournisseur.prenom }}</span>
    </div>
    <div class="d-flex align-items-center mb-2">
      <fa-icon [icon]="faPhone" class="me-2 blue-color"></fa-icon>
      <span>{{ clientFournisseur.numTel }}</span>
    </div>
  </div>
  <div class="col-md-3 border-right my-1">
    <div class="d-flex align-items-center mb-2">
      <fa-icon [icon]="faHome" class="me-2 blue-color"></fa-icon>
      <span>{{ clientFournisseur.adresse?.adresse1 }}&nbsp;{{ clientFournisseur.adresse?.adresse2 }}</span>
    </div>
    <div class="d-flex align-items-center mb-2">
      <fa-icon [icon]="faMapLocationDot" class="me-2 blue-color"></fa-icon>
      <span>{{ clientFournisseur.adresse?.codePostal }}&nbsp;{{ clientFournisseur.adresse?.ville }}</span>
    </div>
    <div class="d-flex align-items-center mb-2">
      <fa-icon [icon]="faEarthAmerica" class="me-2 blue-color"></fa-icon>
      <span>{{ clientFournisseur.adresse?.pays }}</span>
    </div>
  </div>
  <!-- Details action  -->
  <div class="col-md-3 border-right d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-success" (click)="modifierClientFournisseur()">
          <fa-icon [icon]="faPencil"></fa-icon>
          Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#modalDelete' + clientFournisseur.id">
          <fa-icon [icon]="faTrashCan"></fa-icon>
          Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary">
          <fa-icon [icon]="faEllipsis"></fa-icon>
          Détails
        </button>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modalDelete{{clientFournisseur.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation de suppression</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Etes-vous sur de vouloir supprimer ce {{origin}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="annulerSupprimer()">
            <fa-icon [icon]="faXmark"></fa-icon>
            Annuler
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerSupprimer()">
            <fa-icon [icon]="faTrashCan"></fa-icon>
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
