
<div class="d-flex">
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-primary" (click)="bouttonNouveauClick()">
      <fa-icon [icon]="faSquarePlus"></fa-icon>&nbsp;
      Nouveau
    </button>
  </div>
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-success">
      <fa-icon [icon]="faFileImport"></fa-icon>&nbsp;
      Importer
    </button>
  </div>
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-warning">
      <fa-icon [icon]="faFileExport"></fa-icon>&nbsp;
      Exporter
    </button>
  </div>
</div>
