<div class="row">
  <div class="col-md-8">
    <div class="input-group flex-lg-nowrap">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-10 text-end">
        <span>Bonjour Thomas</span>
      </div>
      <div class="col-md-2">
        <a href="javascript:void(0);" [routerLink]="['/profil']">
          <img src="favicon.ico" class="rounded-circle" alt="image du profil">
        </a>
      </div>
    </div>
  </div>
</div>
