<div class="container my-container">
  <div class="card justify-content-md-center">
    <div class="card-header">
      <h1 class="text-center fs-3">S'inscrire</h1>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" *ngIf="errorMsg && errorMsg.length > 0">
        <div *ngFor="let msg of errorMsg">
          <span >{{msg}}</span>
        </div>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nom" [(ngModel)] = "entrepriseDto.nom">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Code fiscal" [(ngModel)] = "entrepriseDto.codeFiscal">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="E-mail" [(ngModel)] = "entrepriseDto.email">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Adresse 1" [(ngModel)] = "adresse.adresse1">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Adresse 2" [(ngModel)] = "adresse.adresse2">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Ville" [(ngModel)] = "adresse.ville">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Code postal" [(ngModel)] = "adresse.codePostal">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Pays" [(ngModel)] = "adresse.pays">
      </div>
      <div class="mb-3">
        <textarea class="form-control" placeholder="Description" [(ngModel)] = "entrepriseDto.description"></textarea>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Numero de téléphone" [(ngModel)] = "entrepriseDto.numTel">
      </div>
      <div class="mb-3 d-flex justify-content-around">
        <button type="button" class="btn btn-primary" (click)="inscrire()">
          <fa-icon [icon]="faCheckSquare"></fa-icon>&nbsp;S'inscrire
        </button>
        <a [routerLink]="['/Login']" class="btn btn-link">Se connecter</a>
      </div>
    </div>
  </div>
</div>




