<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des catégories</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-boutton-action
        (clickEvent)="nouvelleCategorie()"
      ></app-boutton-action>
    </div>
  </div>
  <div class="col m-3">
    <div class="row m-3">
      <div class="row col-md-12 custom-border mb-3 p-3" *ngFor="let cat of listCategories">
        <div class="col-md-3 border-right text-center">
          {{ cat.code }}
        </div>
        <div class="col-md-3 border-right text-center">
          {{ cat.designation }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3 text-center" *ngIf="listCategories.length > 0">
    <app-pagination></app-pagination>
  </div>
</div>
