<div class="btn-group btn-group" role="group" aria-label="Small button group">
  <button type="button" class="btn btn-outline-primary">
    <fa-icon [icon]="faAnglesLeft"></fa-icon>
  </button>
  <button type="button" class="btn btn-outline-primary">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <button type="button" class="btn btn-outline-primary">1</button>
  <button type="button" class="btn btn-outline-primary">2</button>
  <button type="button" class="btn btn-outline-primary">3</button>
  <button type="button" class="btn btn-outline-primary">4</button>
  <button type="button" class="btn btn-outline-primary">5</button>
  <button type="button" class="btn btn-outline-primary">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>
  <button type="button" class="btn btn-outline-primary">
    <fa-icon [icon]="faAnglesRight"></fa-icon>
  </button>
</div>

